@model ProjectManagementWebApp.ViewModels.ProjectScheduleRequestViewModel

@{
    ViewData["Title"] = Localizer["Edit"];
}

<h1>@Localizer["Edit"]</h1>

<h4>@Localizer["Project Schedule Request"]</h4>
<hr />

<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="ProjectId" />
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Content" class="control-label"></label>
        <textarea id="content" asp-for="Content" class="form-control"></textarea>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="StartedDate" class="control-label"></label>
        <input asp-for="StartedDate" class="form-control" />
        <span asp-validation-for="StartedDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ExpiredDate" class="control-label"></label>
        <input asp-for="ExpiredDate" class="form-control" />
        <span asp-validation-for="ExpiredDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="@Localizer["Edit"]" class="btn btn-warning btn-block" />
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/ckeditor5/ckeditor.js"></script>
    <script async type="text/javascript">
        ClassicEditor
            .create(document.querySelector('#content'), {
                toolbar: {
                    items: [
                        'heading',
                        '|',
                        'bold',
                        'italic',
                        'underline',
                        'link',
                        'alignment',
                        'fontBackgroundColor',
                        'fontColor',
                        'bulletedList',
                        'numberedList',
                        '|',
                        'indent',
                        'outdent',
                        '|',
                        'insertImage',
                        'blockQuote',
                        'insertTable',
                        'mediaEmbed',
                        'undo',
                        'redo',
                        '|',
                        'codeBlock',
                        'specialCharacters',
                        'removeFormat'
                    ]
                },
                language: 'en',
                image: {
                    toolbar: [
                        'imageTextAlternative',
                        'imageStyle:full',
                        'imageStyle:side'
                    ]
                },
                table: {
                    contentToolbar: [
                        'tableColumn',
                        'tableRow',
                        'mergeTableCells',
                        'tableCellProperties',
                        'tableProperties'
                    ]
                },
                licenseKey: '',
            })
            .then(editor => {
                window.editor = editor;
            })
            .catch(err => {
                console.error(err.stack);
            });
    </script>
}
