@model ImportProjectsFromExcelViewModel
@{
    ViewData["Title"] = Localizer["Import Projects From Excel"];
}

<h1>@Localizer["Import Projects From Excel"]</h1>

<form asp-action="ImportProjectsFromExcel" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="StartedDate"></label>
        <input class="form-control" asp-for="StartedDate" />
        <span class="text-danger" asp-validation-for="StartedDate"></span>
    </div>
    <div class="form-group">
        <label asp-for="SemesterId"></label>
        <select class="custom-select" asp-items="ViewBag.SemesterId" asp-for="SemesterId"></select>
        <span class="text-danger" asp-validation-for="SemesterId"></span>
    </div>
    <div class="form-group">
        <label asp-for="File"></label>
        <div class="custom-file">
            <input class="custom-file-input" asp-for="File">
            <label class="custom-file-label" for="File">@Localizer["Choose file"]</label>
        </div>
        <span class="text-danger" asp-validation-for="File"></span>
    </div>
    <div class="form-group">
        <button class="btn btn-success">@Localizer["Import"]</button>
    </div>
</form>

@section Scripts{
    <script type="text/javascript" async>
        $('.custom-file-input').change(function (event) {
            var text = event.target.files[0].name;
            $(event.target).closest('.custom-file').find('.custom-file-label').text(text);
        });
    </script>
}